<%- include("../includes/header"); -%>

    <body>

        <div class="box hbox" id="heading">
            <div>
                <h1>Create Account</h1>
            </div>
        </div>

        <div class="box">
            <div>
                <i class="fas fa-user-circle fa-3x"></i>
            </div>

            <form class="register" action="/register" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" class="register form-control" name="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                    <input type="password" class="register form-control" name="password" placeholder="password" autocomplete="off" id="passErr">
                </div>
                <div id="digit_err"></div>
                <p id="exist"><%= message %> </p>
                <button class="register_btn" type="submit">Sign Up</button>
            </form>
            <div class="logReg">
                <a class="have-acc" href="/login">Already have account?</a>
            </div>

        </div>

<%- include("../includes/footer"); -%>